In [1]:
import pandas as pd
import numpy as np

In [4]:
# Read the data
wh = pd.read_csv("https://raw.githubusercontent.com/csmastersUH/data_analysis_with_python_2020/master/kumpula-weather-2017.csv")
wh.head()

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,2017,1,1,00:00,UTC,-1.0,-1.0,0.6
1,2017,1,2,00:00,UTC,4.4,-1.0,-3.9
2,2017,1,3,00:00,UTC,6.6,7.0,-6.5
3,2017,1,4,00:00,UTC,-1.0,13.0,-12.8
4,2017,1,5,00:00,UTC,-1.0,10.0,-17.8

In [3]:
# change the column names
wh3 = wh.rename(columns={"m": "Month", "d": "Day", "Precipitation amount (mm)" : "Precipitation",
                         "Snow depth (cm)" : "Snow", "Air temperature (degC)" : "Temperature"})
wh3.head()

   Year  Month  Day   Time Time zone  Precipitation  Snow  Temperature
0  2017      1    1  00:00       UTC           -1.0  -1.0          0.6
1  2017      1    2  00:00       UTC            4.4  -1.0         -3.9
2  2017      1    3  00:00       UTC            6.6   7.0         -6.5
3  2017      1    4  00:00       UTC           -1.0  13.0        -12.8
4  2017      1    5  00:00       UTC           -1.0  10.0        -17.8

In [5]:
# splits the DataFrame into groups
groups = wh3.groupby("Month")
groups

In [6]:
# Number of groups (12 months)
len(groups)

12

In [8]:
# Iterating through all the groups
for key, group in groups:
    print(key, len(group))

1 31
2 28
3 31
4 30
5 31
6 30
7 31
8 31
9 30
10 31
11 30
12 31

In [9]:
# Group february
groups.get_group(2)

    Year  Month  Day   Time Time zone  Precipitation  Snow  Temperature
31  2017      2    1  00:00       UTC            1.5   4.0         -0.6
32  2017      2    2  00:00       UTC            0.2   5.0         -0.8
33  2017      2    3  00:00       UTC           -1.0   6.0         -0.2
34  2017      2    4  00:00       UTC            2.7   6.0          0.4
35  2017      2    5  00:00       UTC           -1.0   7.0         -2.5
36  2017      2    6  00:00       UTC           -1.0   7.0         -7.3
37  2017      2    7  00:00       UTC           -1.0   8.0        -12.1
38  2017      2    8  00:00       UTC           -1.0   8.0         -8.8
39  2017      2    9  00:00       UTC           -1.0   8.0        -10.1
40  2017      2   10  00:00       UTC           -1.0   8.0         -8.3
41  2017      2   11  00:00       UTC           -1.0   8.0         -5.4
42  2017      2   12  00:00       UTC           -1.0   8.0         -2.7
43  2017      2   13  00:00       UTC           -1.0   8.0          1.5
44  2017      2   14  00:00       UTC           -1.0   8.0          4.4
45  2017      2   15  00:00       UTC           -1.0   8.0          0.0
46  2017      2   16  00:00       UTC            0.9   8.0          0.5
47  2017      2   17  00:00       UTC            0.2   8.0          1.5
48  2017      2   18  00:00       UTC            1.5   5.0          1.9
49  2017      2   19  00:00       UTC            1.1   5.0          2.2
50  2017      2   20  00:00       UTC            2.8   3.0          0.4
51  2017      2   21  00:00       UTC           -1.0   7.0         -2.5
52  2017      2   22  00:00       UTC           12.2   6.0         -4.6
53  2017      2   23  00:00       UTC            0.3  15.0         -0.7
54  2017      2   24  00:00       UTC           -1.0  13.0         -5.3
55  2017      2   25  00:00       UTC            0.4  13.0         -5.6
56  2017      2   26  00:00       UTC            2.5  12.0         -2.0
57  2017      2   27  00:00       UTC            1.0  14.0         -2.3
58  2017      2   28  00:00       UTC            7.7  13.0          2.1

In [10]:
# a subset of columns
groups["Temperature"]

In [11]:
# mean aggregation
groups["Temperature"].mean()

Month
1     -2.316129
2     -2.389286
3      0.983871
4      2.676667
5      9.783871
6     13.726667
7     16.035484
8     16.183871
9     11.826667
10     5.454839
11     3.950000
12     1.741935
Name: Temperature, dtype: float64