In [1]:
import pandas as pd
import numpy as np

In [4]:
# Read the data
wh = pd.read_csv("https://raw.githubusercontent.com/csmastersUH/data_analysis_with_python_2020/master/kumpula-weather-2017.csv")
wh.head()

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,2017,1,1,00:00,UTC,-1.0,-1.0,0.6
1,2017,1,2,00:00,UTC,4.4,-1.0,-3.9
2,2017,1,3,00:00,UTC,6.6,7.0,-6.5
3,2017,1,4,00:00,UTC,-1.0,13.0,-12.8
4,2017,1,5,00:00,UTC,-1.0,10.0,-17.8

In [3]:
# change the column names
wh3 = wh.rename(columns={"m": "Month", "d": "Day", "Precipitation amount (mm)" : "Precipitation",
                         "Snow depth (cm)" : "Snow", "Air temperature (degC)" : "Temperature"})
wh3.head()

   Year  Month  Day   Time Time zone  Precipitation  Snow  Temperature
0  2017      1    1  00:00       UTC           -1.0  -1.0          0.6
1  2017      1    2  00:00       UTC            4.4  -1.0         -3.9
2  2017      1    3  00:00       UTC            6.6   7.0         -6.5
3  2017      1    4  00:00       UTC           -1.0  13.0        -12.8
4  2017      1    5  00:00       UTC           -1.0  10.0        -17.8

In [5]:
# splits the DataFrame into groups
groups = wh3.groupby("Month")
groups

In [6]:
# Number of groups (12 months)
len(groups)

12

In [8]:
# Iterating through all the groups
for key, group in groups:
    print(key, len(group))

1 31
2 28
3 31
4 30
5 31
6 30
7 31
8 31
9 30
10 31
11 30
12 31

In [9]:
# Group february
groups.get_group(2)

    Year  Month  Day   Time Time zone  Precipitation  Snow  Temperature
31  2017      2    1  00:00       UTC            1.5   4.0         -0.6
32  2017      2    2  00:00       UTC            0.2   5.0         -0.8
33  2017      2    3  00:00       UTC           -1.0   6.0         -0.2
34  2017      2    4  00:00       UTC            2.7   6.0          0.4
35  2017      2    5  00:00       UTC           -1.0   7.0         -2.5
36  2017      2    6  00:00       UTC           -1.0   7.0         -7.3
37  2017      2    7  00:00       UTC           -1.0   8.0        -12.1
38  2017      2    8  00:00       UTC           -1.0   8.0         -8.8
39  2017      2    9  00:00       UTC           -1.0   8.0        -10.1
40  2017      2   10  00:00       UTC           -1.0   8.0         -8.3
41  2017      2   11  00:00       UTC           -1.0   8.0         -5.4
42  2017      2   12  00:00       UTC           -1.0   8.0         -2.7
43  2017      2   13  00:00       UTC           -1.0   8.0          1.5
44  2017      2   14  00:00       UTC           -1.0   8.0          4.4
45  2017      2   15  00:00       UTC           -1.0   8.0          0.0
46  2017      2   16  00:00       UTC            0.9   8.0          0.5
47  2017      2   17  00:00       UTC            0.2   8.0          1.5
48  2017      2   18  00:00       UTC            1.5   5.0          1.9
49  2017      2   19  00:00       UTC            1.1   5.0          2.2
50  2017      2   20  00:00       UTC            2.8   3.0          0.4
51  2017      2   21  00:00       UTC           -1.0   7.0         -2.5
52  2017      2   22  00:00       UTC           12.2   6.0         -4.6
53  2017      2   23  00:00       UTC            0.3  15.0         -0.7
54  2017      2   24  00:00       UTC           -1.0  13.0         -5.3
55  2017      2   25  00:00       UTC            0.4  13.0         -5.6
56  2017      2   26  00:00       UTC            2.5  12.0         -2.0
57  2017      2   27  00:00       UTC            1.0  14.0         -2.3
58  2017      2   28  00:00       UTC            7.7  13.0          2.1

In [10]:
# a subset of columns
groups["Temperature"]

In [11]:
# mean aggregation
groups["Temperature"].mean()

Month
1     -2.316129
2     -2.389286
3      0.983871
4      2.676667
5      9.783871
6     13.726667
7     16.035484
8     16.183871
9     11.826667
10     5.454839
11     3.950000
12     1.741935
Name: Temperature, dtype: float64

In [12]:
groups["Precipitation"].sum()

Month
1      26.9
2      21.0
3      29.7
4      26.9
5      -5.9
6      59.3
7      14.2
8      70.1
9      51.2
10    173.5
11    117.2
12    133.6
Name: Precipitation, dtype: float64

In [14]:
# -1.0 values in the Precipitation field are causing trouble -> convert to zeros
wh4 = wh3.copy()
wh4.loc[wh4.Precipitation == -1, "Precipitation"] = 0
wh4.loc[wh4.Snow == -1, "Snow"] = 0
wh4.head()

   Year  Month  Day   Time Time zone  Precipitation  Snow  Temperature
0  2017      1    1  00:00       UTC            0.0   0.0          0.6
1  2017      1    2  00:00       UTC            4.4   0.0         -3.9
2  2017      1    3  00:00       UTC            6.6   7.0         -6.5
3  2017      1    4  00:00       UTC            0.0  13.0        -12.8
4  2017      1    5  00:00       UTC            0.0  10.0        -17.8

In [15]:
wh4.groupby("Month")["Precipitation"].sum()

Month
1      38.9
2      35.0
3      41.7
4      39.9
5      16.1
6      76.3
7      31.2
8      86.1
9      65.2
10    184.5
11    120.2
12    140.6
Name: Precipitation, dtype: float64

In [16]:
# The aggregations are not the only possible operations on groups. The other possibilities 
# are filtering, transformation, and application.

In [22]:
# # The filter function must return a boolean value
def myfilter(df):
    return df["Precipitation"].sum() >= 150

# Filter out months with total precipitation less that 150 mm
wh4.groupby("Month").filter(myfilter)

     Year  Month  Day   Time Time zone  Precipitation  Snow  Temperature
273  2017     10    1  00:00       UTC            0.0   0.0          9.1
274  2017     10    2  00:00       UTC            6.4   0.0          9.2
275  2017     10    3  00:00       UTC           21.5   0.0          8.3
276  2017     10    4  00:00       UTC           12.7   0.0         11.2
277  2017     10    5  00:00       UTC            0.6   0.0          8.8
278  2017     10    6  00:00       UTC            0.7   0.0          7.7
279  2017     10    7  00:00       UTC           11.7   0.0          8.1
280  2017     10    8  00:00       UTC           14.1   0.0          9.3
281  2017     10    9  00:00       UTC           18.3   0.0          8.6
282  2017     10   10  00:00       UTC           24.2   0.0          8.1
283  2017     10   11  00:00       UTC            1.5   0.0          6.9
284  2017     10   12  00:00       UTC           18.1   0.0          6.0
285  2017     10   13  00:00       UTC            0.0   0.0          7.5
286  2017     10   14  00:00       UTC            5.0   0.0          7.2
287  2017     10   15  00:00       UTC            3.3   0.0          8.3
288  2017     10   16  00:00       UTC            0.0   0.0         10.7
289  2017     10   17  00:00       UTC            1.6   0.0          8.5
290  2017     10   18  00:00       UTC            0.0   0.0          8.3
291  2017     10   19  00:00       UTC            0.9   0.0          4.6
292  2017     10   20  00:00       UTC            0.0   0.0          2.0
293  2017     10   21  00:00       UTC            0.0   0.0          0.2
294  2017     10   22  00:00       UTC            0.0   0.0          0.1
295  2017     10   23  00:00       UTC            0.0   0.0          1.3
296  2017     10   24  00:00       UTC            0.0   0.0          0.8
297  2017     10   25  00:00       UTC            8.5   0.0          2.1
298  2017     10   26  00:00       UTC           12.3   2.0          0.3
299  2017     10   27  00:00       UTC            2.7   7.0         -0.3
300  2017     10   28  00:00       UTC           17.1   4.0          3.3
301  2017     10   29  00:00       UTC            3.3   0.0          2.1
302  2017     10   30  00:00       UTC            0.0   0.0          1.2
303  2017     10   31  00:00       UTC            0.0   0.0         -0.4

In [23]:
# deviations from the monthly means by transformation
pd.concat([wh4.iloc[:, 0:3],
           wh4.groupby("Month")[["Precipitation", "Snow", "Temperature"]].transform(lambda x : x - x.mean())],
          axis=1)

     Year  Month  Day  Precipitation      Snow  Temperature
0    2017      1    1      -1.254839 -6.903226     2.916129
1    2017      1    2       3.145161 -6.903226    -1.583871
2    2017      1    3       5.345161  0.096774    -4.183871
3    2017      1    4      -1.254839  6.096774   -10.483871
4    2017      1    5      -1.254839  3.096774   -15.483871
..    ...    ...  ...            ...       ...          ...
360  2017     12   27      -3.435484 -1.483871     2.058065
361  2017     12   28      -0.835484 -1.483871     1.058065
362  2017     12   29       3.264516 -1.483871     2.058065
363  2017     12   30      -0.435484 -1.483871     0.758065
364  2017     12   31      -1.335484 -1.483871    -0.141935

[365 rows x 6 columns]